.utils {
  display: flex;
  flex-direction: row;
  margin-bottom: 0px;
  position: relative;
  align-items: center;
  padding: 20px 0px 10px 0px;
  /* border: 1px solid red; */
}

.choose-msg {
  position: absolute;
  top: 15px;
  font-size: 15px;
  font-weight: bold;
  text-decoration: underline;
  text-underline-offset: 4px;
  text-transform: uppercase;

  &::before{
    position: absolute;
    content:"";
    height: 1px;
    width: 18px;
    bottom: 8px;
    right: -22px;
    background-color: #e0041d;
  }

  &::after{
    position: absolute;
    content:"";
    height: 1px;
    width: 18px;
    bottom: 8px;
    left: -22px;
    background-color: #e0041d;
  }
}

.select{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}

.select-button {
  background-color: #1a1d24;
  border: 1px solid white;
  text-align: center;
  font-size: 16px;
  width: 190px;
  height: 25px;
  align-items: center;
  color: #e0041d;
}

.paginacion {
  display:flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-top: 5px;
  padding-left: 5px;
}

.arrow:hover{
  cursor:pointer
}

.page-number {
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border: 1px solid #e0041d;
  border-radius: 50%;
  font-size: 23px; 
}

.seacher {
  display: flex;
  align-items: center;
  margin-left: 50%;
}

label{
  font-size: 20px;
  font-weight: bold;
  margin-right: 5px;
  letter-spacing: 1px;
}

.text-input{
  border-bottom: 1px solid #e0041d;
  height: auto;
  width: 11em;
  font-size: 25px;
  letter-spacing: 1px;
  padding: 5px;

}

.error-msg {
  position: absolute;
  color: #e0011a;
  bottom: -5px;
  right: 440px;
}

.buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-right: 0px;

    svg:hover {
      cursor: pointer;
      height: 25px;
      width: 25px;
      }
  }